.editFlexContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 10px; 
    align-items: stretch; 
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-lg);
    width: 100%; 
}

.flexContainer {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10px; 
    align-items: stretch; 
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-lg);
    width: 100%; 
}

@media (max-width: 768px) {
    .flexContainer {
        flex-direction: column; /* Stack items vertically */
        gap: var(--mantine-spacing-md); 
        width: 100%; /* Use full width for mobile */
    }
}