.wrapper {
  position: relative;
  margin-bottom: rem(30px);
}

.dropzone {
  border-width: rem(1px);
  padding-bottom: rem(50px);
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.control {
  position: absolute;
  width: rem(250px);
  left: calc(50% - rem(125px));
  bottom: rem(-20px);
}

.videoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 3%;
  padding: 5px;

  border: 1px solid #ccc;
  border-radius: 16px;
}

.videoDetails {
  margin-left: 10px;
}

.removeVideo {
  margin-left: auto;
  margin-top: 3px;
  margin-right: 3px;
  align-self: flex-start;
  cursor: pointer;
}