.header {
    height: rem(84px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-right: var(--mantine-spacing-md);
}

.inner {
    height: rem(84px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}

.linkWrapper {
    margin-left: 50px;
    gap: 5px;
}

.search {
    width: rem(400px);
}

/* Media Query for smaller screens */
@media (max-width: 480px) {
    .header {
        padding-right: var(--mantine-spacing-sm); /* Reduce padding */
        margin-top: 10px;
        padding-bottom: 20px;
        border-bottom: none;
    }

    .inner {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
        height: auto; /* Let the height adjust */
    }

    .search {
        width: 100%; /* Make search box full-width */
        margin-top: rem(12px); /* Add spacing around search box */
    }

    .link {
        font-size: var(--mantine-font-size-xs); /* Adjust font size for smaller screens */
        padding: rem(6px) rem(10px); /* Reduce padding */
    }

    .linkWrapper {
        margin-left: 20px; /* Reduce the margin for smaller screens */
        gap: 10px; /* Increase gap for better spacing */
    }
}