.drawer {
    z-index: 1000;
}

.header {
    height: rem(64px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-right: var(--mantine-spacing-md);
    position: relative;
    z-index: 100;
}

.inner {
    height: rem(64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: rem(16);
}

.centerSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.burger {
    cursor: pointer;
}

.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}

.linkActive {
    background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-blue-9));
    color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-0));
    font-weight: 600;
}

.linkWrapper {
    margin-left: 50px;
    gap: 5px;
}

.search {
    width: 100%;
    max-width: rem(500px);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .inner {
        flex-wrap: wrap;
        gap: rem(8);
    }

    .centerSection {
        order: 3;
        width: 100%;
        margin-top: rem(8);
    }

    .search {
        max-width: 100%;
    }

    .header {
        height: auto;
        min-height: rem(84px);
        padding-bottom: rem(10);
    }
}

@media (max-width: 480px) {
    .header {
        padding-right: var(--mantine-spacing-sm);
    }

    .inner {
        padding: rem(8);
    }

    .centerSection {
        margin-top: rem(8);
    }
}