.header {
    display: flex;
    margin-bottom: 30px;
}

.jobDetailsWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.videoWrapper {
    width: 70%;
}

.detailsWrapper {
    width: 30%;
}

.flexContainer {
    display: flex;
    flex-direction: row; /* Default direction for web */
    gap: var(--mantine-spacing-md); /* Matches 'md' gap in Mantine */
    align-items: stretch; /* Align items to stretch */
    margin-top: var(--mantine-spacing-lg); /* Matches 'lg' margin */
    margin-bottom: var(--mantine-spacing-lg);
    width: 930px; /* Fixed width for web version */
}

.imageAndHoverContainer {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-md); /* Matches 'md' gap in Mantine */
    align-items: stretch; /* Align items to stretch */
    width: 930px; /* Fixed width for web version */
}

.videoFrame {
    width: 100%;
    height: 100%;
}

.hoverIntegration {
  flex-grow: 2;
  text-align: center;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .flexContainer {
        flex-direction: column; /* Stack items vertically */
        width: 100%; /* Use full width for mobile */
    }

    .imageAndHoverContainer {
        flex-direction: column; /* Stack items vertically */
        width: 100%; /* Use full width for mobile */
    }

    .videoWrapper {
        width: 100%;
    }

    .videoFrame {
        margin-top: 70px;
        justify-self: center;
    }

    .detailsWrapper {
        width: 100%;
    }
    
    .jobFieldWrapper {
        width: 100%;
    }
}

.jobTitleContainer {
    margin: 20px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.jobTitle {
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: color 0.3s ease;
}

/* Make this more specific to ensure it overrides any other styles */
.jobTitle:hover {
    color: var(--mantine-primary-color-filled) !important;
    background-color: transparent;
}