
.jobCommentsWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.jobCommentsWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.commentTextArea {
    width: 700px;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .jobCommentsWrapper {
        flex-direction: column; /* Stack items vertically */
        width: 100%; /* Use full width for mobile */
    }
    .commentTextArea {
        width: 100%;
    }
}