.flexWrapper {
    display: flex;
    gap: 16px;
    width: 930px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    margin: 0 auto 24px;
    margin-bottom: 24px;
}

/* Media Query for mobile screens */
@media (max-width: 768px) {
    .flexWrapper {
        display: flex;
        gap: var(--mantine-spacing-md);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: var(--mantine-spacing-lg);
        width: 100%;
    }
}

@media (max-width: 480px) {
    .flexWrapper {
        display: flex;
        gap: var(--mantine-spacing-md);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: var(--mantine-spacing-lg);
    }
}

.refreshButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

@media (max-width: 768px) {
    .refreshButton {
        position: fixed;
        top: 80px;
        right: 16px;
        z-index: 100;
    }
}