.root {
  border-radius: 8px;
  border: 1px solid var(--mantine-color-gray-4);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  padding: 0;
  min-height: 240px;
  max-height: 400px;
  overflow: auto;
}

.content :global(.ProseMirror) {
  min-height: 240px;
  padding: 24px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
}

.content :global(.ProseMirror-focused) {
  outline: none;
  box-shadow: none;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  border-top: 1px solid var(--mantine-color-gray-3);
  background-color: transparent;
  visibility: visible;
  opacity: 1;
  min-height: 44px;
}
