.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex: 1;
}

.verticalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100vh;
}

.spacer {
    flex-grow: 1;
}

.main {
    flex-grow: 2;
    background-color: #2a3a54;
    min-height: 100%;
}