.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex: 1;
    transition: margin-left 0.3s ease;
    margin-left: 0;
    margin-top: rem(64px);
    width: 100%;
    box-sizing: border-box;
}

.wrapperWithSidebar {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.verticalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.spacer {
    flex-grow: 1;
}

.main {
    flex-grow: 2;
    background-color: #2a3a54;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}